	<div class= "col-md-2 sidebar-height" style="background-color: #1C132A;">

		<ul class="nav flex-column vertical-navbar text-center" id="sidebarSupportedContent">
		  <li class="nav-item">
		    <a class="nav-link active" href="/admin/time-ins">Recent Time-ins</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/admin/student-list">Student List</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/admin/student-hours">Student Hours</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/admin/preferences">Shift Preferences</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/admin/settings">Settings</a>
		  </li>
		</ul>
	</div>