    <!--<h4>This is from the footer!</h4>-->
    
    <!-- <div class="container-fluid"> -->
    	<div class="row footer align-items-center">
	    	<div class="col-6">
	    		<i> Ver. 1.46.0 </i>
	    	</div>
	    	<div class="col-6 text-right">
	    		<a href="https://www.strokeprogram.org">Visit SST External Website</a>
	    		<span style="line-height: 30px">|</span>
	    		<a href="https://www.strokeprogram.org/contact.html">Contact Us</a>
	    	</div>
	    </div>
	</div>
    
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </body>
</html>
