<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Redesigned Stroke Team internal website!">
        <title>SST Internal</title>

        <!-- Bootstrap 4.1.3 CSS ONLY-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/jqueryui/jquery-ui.min.css">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="/jqueryui/jquery-ui.min.js"></script>
        <script src="/js/functions.js"></script>
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/stylesheets/style.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="manifest" href="/images/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body class="normal-page">
        <!-- <h4>This is from the header!</h4> -->