<nav class="navbar navbar-expand-md navbar-inverse fixed-top heading-background">
	<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 mr-auto">
		<div class="navbar-page-title align-middle">
			<img src="/images/stroke_logo_4.png" class="rounded" width="80" alt="Student Stroke Team">
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
		<ul class="navbar-nav mr-auto" style="padding-left: 30px">
			<li class="nav-item">
				<a href="/stats" class="nav-link nav-middle-links">HOME</a>
			</li>
			<li class="nav-item dropdown align-middle">
				<a class="nav-link dropdown-toggle nav-middle-links" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					SHIFT PREFERENCES
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<!-- these need to be changed with js code  -->
		          	<a class="dropdown-item" href="#">Fall Quarter</a>
		          	<a class="dropdown-item" href="#">Fall Finals Week</a>
	        		<a class="dropdown-item" href="#">Winter Break</a>
	        	</div>
			</li>
			<li class="nav-item">
				<a href="/neurorounds" class="nav-link nav-middle-links">NEUROROUNDS</a>
			</li>
		</ul>
	</div>
	<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
	   	<ul class="navbar-nav ml-auto">
	   		<li class="nav-item">
	   			<b class="nav-link nav-right-links">Gunvant Chaudhari</b>
	   		</li>
	   		<li class="nav-item">
				<a href="/logout" class="nav-link nav-right-links">Sign out</a>
			</li>
		</ul>
	</div>
</nav>