<% include ./partials/header %>

<div class="container-fluid container-offset">

	<% include ./partials/navbar %>

<div class="row" style="min-height: calc(100vh - 89px);">
	
	<% include ./partials/admin_sidebar %>

	<div class = "col-md-10" style="padding-top:20px;">
		<span class = "welcome-text">Welcome SST Admin!</span>
	</div>

</div>


<% include ./partials/footer %>