<% include ./partials/header %>

<div class="container-fluid container-offset">

	<% include ./partials/navbar %>

<div class="row" style="">
	
	<% include ./partials/admin_sidebar %>

	<div class = "col-md-8" style="padding-top:20px; padding-bottom:10px">
		<h1 class = "welcome-text">Welcome SST Admin!</h1>
		<br>
		<img src='<%=xkcdURL%>' class="img-fluid rounded" alt='Your Random XKCD Comic' title='Your Random XKCD Comic'>
	</div>



</div>


<% include ./partials/footer %>