<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Redesigned Stroke Team internal website!">
        <title>Stroke Website</title>

        <!-- Bootstrap 4.1.3 CSS ONLY-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/jqueryui/jquery-ui.min.css">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="/jqueryui/jquery-ui.min.js"></script>
        <script src="/js/functions.js"></script>
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/stylesheets/style.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="manifest" href="/images/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body class="login-page">
	<div class="container-fluid">
	<div class = "row vertical-center">
		<div class = "col-md-8 d-none d-md-block neuron-image">
			<img src="/images/SST Neuron Blue 2.png" class="img-fluid" alt="Visit SST External Website">
		</div>

		<div class = "col-md-4  text-center">
			<div class="row d-lg-none d-md-none">
				<div class="col-12 login-header neuron-image">
					<span style="color:white;">Student</span> <span style="color:rgb(66,175,225)">Stroke </span> <span style="color:white;"> Team </span>
				</div>
			</div>

			<div class="login-title">
				<b>Internal Website</b>
			</div>
			
			<div class="login-form">
			<div class="main-div">

			    <div class="panel">
			   		<h2>Member Login</h2>
			   		<p>Please enter your email and password</p>
			   	</div>

			    <form id="Login" action="/" method="POST">

			   		<!-- remember to change the app.js to log in via email-->
			        <div class="form-group">

			            <input type="email" name="username" class="form-control" id="inputEmail" placeholder="Email Address">

			        </div>

			        <div class="form-group">
			            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
			        </div>

			        <div class="forgot">
			        	<a href="/forgot-pw">Forgot password?</a>
					</div>

			        <button type="submit" class="btn btn-primary">Login</button>

			    </form>

			</div> </div>

			<div class="login-footer">
				<a href="https://www.strokeprogram.org/">Visit SST External Website</a>
				<br>
				<a href="https://stroketeam.herokuapp.com/timecard">Use Internal Timecard</a>
			</div>

		</div>
	</div>
		<script>
			fade_neuron();
			
			$(document).ready(function(){
				<%if (message) {%>
					alert('<%=message%>');
				<%}%>
			});
		</script>
	</div>

<!--
	<h1>Login!</h1>
	<form action="/" method="POST">
	    <input type="text" name="username" placeholder="username">
	    <input type="password" name="password" placeholder="password">
	    <input type="submit" value="Login!">
	</form>
-->

    </body>
</html>

