<form action="/register" method="POST">
    <input type="email" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="text" name="fName" placeholder="first name">
    <input type="text" name="lName" placeholder="last name">
    <input type="date" name="tb" placeholder="tb expiration">


    <button>Sign up</button>
</form>
