<form action="/register" method="POST">
    <input type="email" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="text" name="name" placeholder="name">
    <button>Sign up</button>
</form>
