/* Random shit */
.container-fluid {
    margin-right: auto;
    margin-left: auto;
}
.normal-page{
  /*background-color: #DCE5EF;*/
  background: linear-gradient(#c4daf2, #ffffff) no-repeat center center fixed;
}

.login-page{
  background-color: #DCE5EF;
}
.container-offset{
  padding-top: 59px;
}
.container-no-side-padding{
  padding-right: 0px;
  padding-left: 0px;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh; 

  display: flex;
  align-items: center;
}
.vertical-center .col-md-8{
  padding-right: 0px;
}
.row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


/*Login box stuff below*/
.heading-background { background-color: #456B96; }
.form-heading { max-height: 40px;}
.panel{
  text-align: center;
}
.panel h2{ color:#444444; font-size:18px; margin:0 0 4px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:10px; line-height:24px;}
.login-form .form-control {
  background: #edf2f7 none repeat scroll 0 0;
  border: 4px solid #d4d4d4;
  border-radius: 5px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 5% 5% 5% 5%;
  padding: 10% 10% 10% 10%;
  align-self: center;
  color: #1C132A;
}
.main-div-timecard{
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 5% 10% 1% 10%;
  padding: 5% 5% 5% 5%;
  align-self: center;
  color: #1C132A; 
}

.login-form .form-group {
  margin-bottom:10px;
}
#select-label{ 
  margin-bottom:20px; 
}
.form-control-select{ padding-top: 30px; }
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: /*rgb(66,175,225)*/ #466b95 none repeat scroll 0 0;
  border-color: #466b95;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.login-form .btn.btn-primary.reset {
  background: #C39841 none repeat scroll 0 0;
}
.neuron-image{
  opacity: 0;
}


/* Timecard stuff below*/
.hidden{
  display: none;
}
.current-logins-tb-valid, .current-logins-tb-expired {
  max-height: 125px;
  margin: 5px 16.7% 5px 16.7%;
  padding: 10px;
  border-style: solid;
  border-width: 5px;
  border-radius: 8px;
  border-color: gray;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}
.current-logins-tb-valid span, .current-logins-tb-expired span{
  color: #000000; font-size: 15px;
}
.current-logins-tb-valid p, .current-logins-tb-expired p{
  color: #000000; font-size: 13px;
}
.current-logins-tb-valid {
  background-image: radial-gradient(#9dff89, #e0f9db);
}
.current-logins-tb-expired {
  background-image: radial-gradient(#fc7979, #fcc2c2);
}
.login-title{
  text-align: center;
  font-size: 40px;
  color:#466b95;
  /*color:#64419f;*/
  /*color:#000000;*/
}
.login-header{
  text-align: center;
  font-size: 55px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.0;
  padding-top: 25px;
  padding-bottom: 20px;
}
.login-footer{
  text-align: center;
  font-size: 20px;
  color:#466b95;
  padding-bottom: 15px;
}
.login-row{
  opacity: 0;
}

/* Only on large screens*/
@media (min-width: 1200px) {
  .sidebar-height{
    min-height: calc(100vh - 59px - 31px);
    padding-top: 20px;
  }
}

/* Only on screens smaller than large */
@media (max-width: 1200px){

}



/* navbar stuff below*/
.nav-right-links{
  padding-bottom: 0px; 
  padding-top: 0px;
  font-size: 15px;
  text-align: center;
  color: white;
}
.nav-middle-links{
  font-size: 15px;
  text-align: center;
}
.nav-item-pad{
  padding-right: 10px;
}
.navbar{
  padding: 5px;
}
.nav-item a:link{color: white; text-decoration: none;}
.nav-item a:visited{color: white; text-decoration: none;}
.nav-item a:hover{color: rgb(200,200,200) !important; text-decoration: none;}
.nav-item a:active{color: white; text-decoration: none;}
.navbar-page-title {
  color: white;
  font-size: 15px;
  padding: 5px;
}
.dropdown .dropdown-menu .dropdown-item{
  color: black;
  text-align: left;
 }
.dropdown-toggle::after{
  display: none;
 }



/*calendar stuff below*/
.calendar-container{
  width: calc(100vw-10px);
  margin-right: -15px; 
  margin-left: -15px;
}
.calendar-outer{
  width: 100%;
  min-width: 852px;
  min-height: 900px;
  background-color: white;
}
.calendar-top, .calendar-top-header{
  width: 100%;
  min-width: 852px;
}
.calendar-top{
  background-color: white;
}
.calendar-day-header, .calendar-element{
  min-width:100px;
  border: 1px solid rgb(200,200,200);
  border-left-width: 0px;
}
.calendar-day-header{
  min-height: 30px;
  height: 4%;
  padding-top: 2px;
  border-top-width: 0px;
}
.calendar-offset{
  width:6%;
  min-width: 35px;
  height: calc(2.78% + 10px);
  min-height:5px;
}
.calendar-element{
  min-height:25px;
  height: 6.25%;
  border-top-width: 0px;
}
.calendar-hour-element, .calendar-top-left{
  width:6%;
  min-width:35px;
  padding-left: 2px !important;
  padding-right: 2px !important;
}
/*.calendar-element:hover{
  background-color: black;
}*/
.calendar-hour-element{
  padding-top: 2px;
  min-height:25px;
  height: 6.25%;
  font-size: 12px;
}
.calendar-top-left{
  min-height: 15px;
  height: 1%;
}
.calendar-element-left{
  border-left: 1px solid rgb(200,200,200);
}
.calendar-bottom-border{
  border-bottom: 1px solid rgb(200,200,200);
}
.calendar-bottom-hour-element{
  font-size: 12px; 
  padding-right: 2px !important;
  padding-top: 5px !important;

}
.row-padding{
  padding-left:0px;
  padding-right:0px;
  margin:0;
}
.zero-padding{
  padding: 0;
}
.days, .hours{
  color: rgb(100,100,100);
}
.green-time-form, .red-time-form{
  min-width: 400px;
  padding: 10px 2% 10px 2%;
  margin: 0 calc(25% - 100px) 10px calc(25% - 100px);
  align-items: center;
  align-content: center;
}
.gr-form-title{
  font-size: 20px;
}
.red-time-form .dropdown-times .form-control, .green-time-form .dropdown-times .form-control{
  margin-left: 10px;
}
.pref-form{
  padding-top: 10px;
  padding-bottom: 10px;
}
.comments-text-area{
  resize: none;
  overflow: hidden;
  min-height: 94px;
  max-height: 400px;
  max-width: 100%;
}
.dropdown-times{
  /*padding-left:2vw;*/
}
.overlay-div{
  position: absolute;
  width: calc((100% - 35px)/7 - 4px);
  min-width: 112px;
  padding: 0;
  border-radius: 5px;
}
.overlay-box{
  padding: 2px 5px 5px 5px;
  color: black;
  opacity: 0;
  line-height: normal;
  overflow: scroll;
  overflow-x: hidden;
  max-height: calc(100% - 10px);
}
.overlay-box::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
.overlay-box::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.overlay-box p{
  margin-bottom: 0px;
}
.overlay-green{
  border: 3px solid #73AD21;
  background-color: #e8f7ea;
}
.overlay-red{
  border: 3px solid red;
  background-color: #f7e8e8;
}
.overlay-comment{
  font-size:12px;
  line-height: normal;
}
.overlay-time{
  font-size:10px;
  line-height: normal;
}
.expanded-div{
  width: 400px;
  height: auto;
  position: absolute;
  top: 20%;
  left: calc((100% - 400px)/2);
  z-index: 1000;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  opacity: 0.5;
}
.expanded-div p{
  margin-bottom: 2px;
}
.event-button-r, .event-button-g{
  font-size: 7px;
}
.overlay-row{
  color: white;
  font-weight: bold;
}
.overlay-g{
  border-top: 1px solid #73AD21;
  background-color: #73AD21;
}
.overlay-r{
  border-top: 1px solid red;
  background-color: red;
}
.overlay-right-g{
  border-right: 1px solid white;
}
.overlay-right-r{
  border-right: 1px solid white;
}
.event-button-g:hover{
  background-color:#344f0f;
  color:  #D3D3D3;
  cursor: pointer;
}
.event-button-r:hover{
  background-color:#4f0e0e;
  color:  #D3D3D3;
  cursor: pointer;
}
.day-label{
  margin-right: 15px;
}
.day-select{
  width: 130px;
}
.week-label{
  border-bottom: 2px solid #d4d4d4;
  background-color: #456B96;
  height: 40px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.3em;
  color: white;
}



/* stats page stuff */
.welcome{
  margin: 10px;
  padding: 10px 10px 10px 10px;
  color: #64419f;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;

/*  border: 1px solid #000;
  border-radius: 5px;*/
}
.element-box, .element-box-settings{
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 5px;
}
.element-box h1{
  font-weight: bold;
  font-size: 20px;
}
.row-outer{
  padding-left: 10px;
  padding-right: 10px;
}
#red-comments, #red-start-time, #red-end-time, #red-day{
  background-color: #f7e8e8;
}
#green-comments, #green-start-time, #green-end-time, #green-day{
    background-color: #e8f7ea;
}
.btn-scrl{
  font-size: 0.7em;
  padding: 4px;
}


/* Admin Page */
.vertical-navbar{
  background-color: #1C132A;
}
.welcome-text{
  color: #456B96;
  font-size: 20px;
}

/* Admin Hours Page*/
.editDivBox{
  font-size: 0.9em;
  padding: 3px;
}
.editDivBoxCol{
  padding: 2px;
}
.editDivBox input[type="text"], .editDivBox input[type="date"], .editDivBox input[type="time"], .editDivBox select{
   height: 25px;
   font-size: 12px;
   line-height: 15px;
}
#editDiv {
  margin: 65px 10px 10px 10px; 
  border: 4px solid #1C132A; 
  border-radius: 5px; 
  background-color: white; 
  padding: 10px;
}

/* Admin Preferences */
#changeStudentForm select{
  height: 25px;
  font-size: 12px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  padding: 2px;
}

/* Admin Student List */
.addStudentFormDiv{
  padding: 10px;
  margin: 10px;
  border: 4px solid #1C132A; 
  border-radius: 5px; 
  background-color: white; 
}

.addStudentFormDiv input{
  margin-top:5px;
  margin-bottom: 5px;
}


/* Admin settings */
.element-box-settings{
  padding: 15px;
  margin: 15px;
}

/* Footer stuff below*/
.footer {
  background-color: #1C132A;
  color: #456B96;
}
.footer a:link, .login-footer a:link{color: #456B96; text-decoration: none;}
.footer a:visited, .login-footer a:visited{color: #456B96; text-decoration: none;}
.footer a:hover, .login-footer a:hover{color: #9dbadb; text-decoration: none;}
.footer a:active, .login-footer a:active{color: #456B96; text-decoration: none;}